@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}

* {
  box-sizing: border-box;
  line-height: 1.25em;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #343d4b;
  display: grid;
  place-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 25px;
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #ffffff;
  height: 400px;
}
.text-white{
  color: white;
}
nav{
  text-align: center;
}
a{
  color: white;
  margin: 1rem;
}
